<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>首页</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control" v-cloak>
		<van-nav-bar title="教务辅助系统" left-text="返回" border="true" left-arrow fixed @click-left="goBack()"></van-nav-bar>
		<div class="container">
			<van-search v-model="searchform" placeholder="教务问答：请输入搜索关键词" show-action shape="round" @search="search">
				<div slot="action" @click="search">搜索</div>
			</van-search>
			<van-grid :gutter="10" column-num=3 square border=true clickable=true>
				<van-grid-item v-for="item in items" v-if="haveGrade(item)" :icon=item.icon :text=item.text
					:url=item.url></van-grid-item>
			</van-grid>
		</div>
		<script type="text/javascript" src="js/footer.js"></script>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			token: '',
			footeractive: 0,
			searchform: '',
			authority: '',
			User: {},
			items: [
				{
					icon: 'records',
					text: '成绩查询',
					url: 'score.html',
					grade: [1],
				},
				{
					icon: 'search',
					text: '问答管理',
					url: 'manageQA.html',
					grade: [3],
				},
				{
					icon: 'todo-list-o',
					text: '我的课表',
					url: 'table.html',
					grade: [1],
				},
				{
					icon: 'calender-o',
					text: '年度校历',
					url: 'calendar.html',
					grade: [0],
				},
			],
		},
		methods: {
			goBack() {
				history.go(-1);
			},
			haveGrade(item) {
				for (i of item.grade) {
					if (i == 0) {
						return true
					} else if (this.authority.charAt(this.authority.length - i) == "1") {
						return true
					}
				}
				return false
			},
			search() {
				window.location.href = "educationQA.html?value=" + encodeURI(encodeURI(this.searchform))
			},
		},
		mounted() {
			if (localStorage['token']) {
				this.token = localStorage['token']
				this.User = JSON.parse(localStorage.User)
			} else if (sessionStorage['token']) {
				this.token = sessionStorage['token']
				this.User = JSON.parse(sessionStorage.User)
			}
			if (!this.token) {
				window.location.href = 'login.html'
			}
			this.authority = (this.User.authority).toString(2)
		},
	});
</script>

<style>
</style>


</html>