<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>登录</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div class="background">
		<canvas id="Mycanvas"></canvas>
		<script type="text/javascript" src="js/background.js"></script>
	</div>
	<div id="control" v-cloak>
		<div class="loginform">
			<div class="head">
				<img src="images/frame/schlogo.png">
				<h1>教务辅助系统</h1>
			</div>
			<div v-if="!autoLogin.autoSign">
				<van-cell-group>
					<van-field v-model="loginform.username" :disabled="formable.username" center clearable label="账号"
						placeholder="请输入学工号" size="large" />
				</van-cell-group>
				<van-cell-group>
					<van-field v-model="loginform.password" :disabled="formable.password" center clearable label="密码"
						type="password" placeholder="请输入密码" size="large" />
				</van-cell-group>
				<!-- <van-cell-group>
					<van-row>
						<van-col span="16">
							<van-field v-model="loginform.idecode" :disabled="formable.idecode" center clearable
								label="验证码" placeholder="请输入验证码" size="large">
						</van-col>
						<van-col span="8">
							<img src="images/frame/code.jpg" height="48px" class="idecode">
						</van-col>
					</van-row>
				</van-cell-group> -->
				<br>
				<van-row>
					<van-col span="12">
						<van-checkbox v-model="loginform.loginauto">自动登录</van-checkbox>
					</van-col>
					<!-- <van-col span="12" class="forgetpwd">
						忘记密码？
					</van-col> -->
				</van-row>
				<br>
				<van-button round type="info" size="large" class="loginbutton" @click="login"
					:disabled="loginbutton.disabled" :loading="loginbutton.loading" loading-type="spinner">登录
				</van-button>
			</div>
			<div v-if="autoLogin.autoSign">
				<div class="autoTips">{{autoLogin.autoName}}，欢迎回来！</div>
				<van-button round type="info" size="large" class="loginbutton"
					@click="window.location.href='index.html'" :loading="loginbutton.loading" loading-type="spinner">
					一键登录
				</van-button>
				<br><br>
				<van-button round plain type="info" size="large" class="loginbutton" @click="autoLogin.autoSign=0"
					:loading="loginbutton.loading" loading-type="spinner">其它账号登录
				</van-button>
			</div>
		</div>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			autoLogin: {
				autoSign: 0,
				autoName: '',
			},
			loginform: {
				username: '',
				password: '',
				idecode: '',
				loginauto: 1,
			},
			formable: {
				username: false,
				password: false,
				idecode: false,
			},
			loginbutton: {
				loading: false,
				disabled: true,
			}
		},
		methods: {
			forgetpwd() {
				Dialog.alert({
					message: '请联系校教务处重置密码'
				})
			},
			changestate(state) {
				this.loginbutton.loading = state
				this.loginbutton.disabled = state
				this.formable.username = state
				this.formable.password = state
				//this.formable.idecode = state
			},
			login() {
				this.changestate(true)
				loginform = { "userid": this.loginform.username, "password": this.loginform.password };
				axios.post(baseurl + '/login', loginform,
					{ headers: { 'Content-Type': 'application/json' } })
					.then(res => {
						localStorage.clear()
						sessionStorage.clear()
						const token = res.data.token
						const User = res.data.user
						if (this.loginform.loginauto) {
							localStorage.setItem('token', token)
							localStorage.setItem('User', JSON.stringify(User))
						} else {
							sessionStorage.setItem('token', token)
							sessionStorage.setItem('User', JSON.stringify(User))
						}
						window.location.href = "index.html";
						this.changestate(false)
					})
					.catch(error => {
						if (error.response.hasOwnProperty('status')) {
							switch (error.response.status) {
								case 400:
									this.$notify('登录失败：账号不存在');
									break;
								case 401:
									this.$notify('登录失败：账号或密码错误');
									break;
								case 403:
									this.$notify('登录失败：该账号已被禁止登陆');
									break;
								case 404:
									this.$notify('登录失败：账号不存在');
									break;
								case 500:
									this.$notify('登录失败：服务器内部错误');
									break;
								default:
									this.$notify('登录失败：服务器未知异常');
							}
							this.changestate(false)
							return
						} else {
							this.$notify('登录失败：服务器通信异常');
							this.changestate(false)
						}
					})
			},
		},
		watch: {
			loginform: {
				handler(newVal, oldVal) {
					// this.loginbutton.disabled = !(newVal.username && newVal.password && newVal.idecode)
					this.loginbutton.disabled = !(newVal.username && newVal.password)
				},
				deep: true
			}
		},
		mounted() {
			if (localStorage['token'] || sessionStorage['token']) {
				if (JSON.parse(localStorage.User).name) {
					this.autoLogin.autoName = JSON.parse(localStorage.User).name
					this.autoLogin.autoSign = 1
				} else if (JSON.parse(sessionStorage.User).name) {
					this.autoLogin.autoName = JSON.parse(sessionStorage.User).name
					this.autoLogin.autoSign = 1
				}
			}
		},
	});
</script>
<style>
	.loginform {
		margin-top: 20%;
		margin-left: 5%;
		width: 90%;
	}

	.background {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.forgetpwd {
		text-align: right
	}

	.idecode {
		float: right;
	}

	.head {
		text-align: center
	}

	.head img {
		width: 90px
	}

	.head h1 {
		font-size: 20px;
		font-weight: 550;
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.autoTips {
		text-align: center;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
		font-weight: 400;
	}
</style>


</html>