<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>教务问答管理</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control" v-cloak>
		<van-nav-bar title="教务问答管理" left-text="返回" border="true" left-arrow fixed @click-left="goBack()"></van-nav-bar>
		<div class="container">
			<van-search v-model="searchform" placeholder="教务问答：请输入搜索关键词" show-action shape="round" @search="">
				<div slot="action" @click="">搜索</div>
			</van-search>
			<div class="buttonAdd">
				<van-button round icon="plus" type="info" hairline @click="handleAdd"></van-button>
			</div>
			<van-collapse v-model="collapseactive">
				<van-collapse-item v-for="(item,index) in QA" v-if="show(item)" :title=item.question :name=index>
					{{item.answer}}<br />
					<div class="button">
						<van-button size="small" type="default" @click="handleUpdate(item,index)">修改</van-button>
						<van-button size="small" type="danger" @click="handleDelete(item,index)">删除</van-button>
					</div>
				</van-collapse-item>
			</van-collapse>
		</div>
		<van-dialog v-model="updateDialog" title="修改问答" @confirm='confirmupdate' show-cancel-button>
			<van-cell-group>
				<van-field v-model="updateForm.question" required label="问题" type="textarea" placeholder="请输入问题"
					rows="1" autosize />
			</van-cell-group>
			<van-cell-group>
				<van-field v-model="updateForm.answer" required label="回答" type="textarea" placeholder="请输入回答" rows="1"
					autosize />
			</van-cell-group>
		</van-dialog>
		<van-dialog v-model="addDialog" title="新增问答" @confirm='confirmAdd' show-cancel-button>
			<van-cell-group>
				<van-field v-model="addForm.question" required label="问题" type="textarea" placeholder="请输入问题" rows="1"
					autosize />
			</van-cell-group>
			<van-cell-group>
				<van-field v-model="addForm.answer" required label="回答" type="textarea" placeholder="请输入回答" rows="1"
					autosize />
			</van-cell-group>
		</van-dialog>
		<center>
			<van-loading v-show="loading" size="24px">加载中...</van-loading>
		</center>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			active: 1,
			loading: true,
			searchform: '',
			updateDialog: false,
			addDialog: false,
			updateForm: { question: '', answer: '' },
			addForm: { question: '', answer: '' },
			collapseactive: [],
			QA: [],
		},
		methods: {
			show(obj) {
				return obj.question.includes(this.searchform) || obj.answer.includes(this.searchform)
			},
			handleAdd() {
				this.addDialog = true
				this.addForm = { question: '', answer: '' }
			},
			confirmAdd() {
				addform = { "question": this.addForm.question, "answer": this.addForm.answer };
				axios.post(baseurl + '/question', addform,
					{ headers: { 'Content-Type': 'application/json', 'token': token } })
					.then(res => {
						this.$notify({
							message: '新增成功',
							background: '#1989fa'
						});
						this.QA.push({ question: this.addForm.question, answer: this.addForm.answer })
					})
					.catch(error => {
						if (error.response.status) {
							switch (error.response.status) {
								case 401:
									this.$notify('新增失败：token权限异常');
									window.location.href = "login.html"
									break;
								case 500:
									this.$notify('新增失败：服务器内部错误');
									break;
								default:
									this.$notify('新增失败：服务器未知异常');
							}
						} else {
							this.$notify('新增失败：服务器通信异常');
						}
					})
			},
			handleUpdate(item, index) {
				this.updateForm = item
				this.updateForm.index = index
				this.updateDialog = true
			},
			confirmupdate() {
				updateform = { "question": this.updateForm.question, "answer": this.updateForm.answer };
				axios.put(baseurl + '/question/' + this.updateForm.qid, updateform,
					{ headers: { 'Content-Type': 'application/json', 'token': token } })
					.then(res => {
						this.$notify({
							message: '修改成功',
							background: '#1989fa'
						});
						this.QA[this.updateForm.index].question = this.updateForm.question
						this.QA[this.updateForm.index].answer = this.updateForm.answer
					})
					.catch(error => {
						if (error.response.status) {
							switch (error.response.status) {
								case 401:
									this.$notify('修改失败：token权限异常');
									break;
								case 500:
									this.$notify('修改失败：服务器内部错误');
									break;
								default:
									this.$notify('修改失败：服务器未知异常');
							}
						} else {
							this.$notify('修改失败：服务器通信异常');
						}
					})
			},
			handleDelete(item, index) {
				this.$dialog.confirm({
					message: '确认删除该条问答？'
				}).then(() => {
					axios.delete(baseurl + '/question/' + item.qid,
						{ headers: { 'Content-Type': 'application/json', 'token': token } })
						.then(res => {
							this.$notify({
								message: '删除成功',
								background: '#1989fa'
							});
							this.QA.splice(index, 1);
						})
						.catch(error => {
							if (error.response.status) {
								switch (error.response.status) {
									case 401:
										this.$notify('删除失败：token权限异常');
										break;
									case 500:
										this.$notify('删除失败：服务器内部错误');
										break;
									default:
										this.$notify('删除失败：服务器未知异常');
								}
							} else {
								this.$notify('删除失败：服务器通信异常');
							}
						})
				}).catch(() => { });
			},
			getQuestion() {
				axios.get(baseurl + '/questions',
					{ headers: { 'Content-Type': 'application/json' } })
					.then(res => {
						this.QA = res.data
						this.loading = false;
					})
					.catch(error => {
						if (error.response.status) {
							switch (error.response.status) {
								case 401:
									this.$notify('获取失败：token权限异常');
									break;
								case 500:
									this.$notify('获取失败：服务器内部错误');
									break;
								default:
									this.$notify('获取失败：服务器未知异常');
							}
						} else {
							this.$notify('获取失败：服务器通信异常');
						}
						this.loading = false;
					})
			},
		},
		watch: {
		},
		mounted() {
			checkToken()
			this.getQuestion()
		},
	});
</script>
<style>
	.button {
		text-align: center
	}

	.buttonAdd {
		position: fixed;
		right: 15;
		bottom: 15;
		z-index: 99
	}
</style>


</html>