<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>成绩查询</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control" v-cloak>
		<van-nav-bar title="成绩查询" left-text="返回" border="true" left-arrow fixed @click-left="goBack()">
		</van-nav-bar>
		<div class="container">
			<van-row>
				<div class="summary">
					<van-col span="12">已修学分：{{totalCredit.toFixed(1)}}</van-col>
					<van-col span="12">学程绩点：{{totalGPA}}</van-col>
				</div>
			</van-row>
			<van-collapse v-model="activeNames">
				<van-collapse-item v-for="(score,index) in score" border="true" size="large" :name=index>
					<div slot="title">
						<van-tag v-if="index!=number" size="medium" mark>已修</van-tag>
						<van-tag v-if="index==number" size="medium" mark type="primary">当前</van-tag> {{score.term}}
						<nobr class="gpabutton">
							<van-tag v-if="index!=number" size="medium" plain>绩点{{score.gpa}}</van-tag>
							<van-tag v-if="index==number" size="medium" type="primary" plain>绩点{{score.gpa}}
							</van-tag>
						</nobr>
					</div>
					<div class="title">
						<van-row>
							<van-col span="6">课程号</van-col>
							<van-col span="9">课程名</van-col>
							<van-col span="3">学分</van-col>
							<van-col span="3">成绩</van-col>
							<van-col span="3">绩点</van-col>
						</van-row>
					</div>
					<van-divider></van-divider>
					<div v-for="item in score.score" class="scoretable">
						<van-row>
							<div class="textnumber">
								<van-col span="6">{{item.cid}}</van-col>
								<van-col span="9">{{item.cname}}</van-col>
								<van-col span="3">{{item.credit}}</van-col>
								<van-col span="3">{{item.score}}</van-col>
								<van-col span="3">{{item.score?getGPA(item.score).toFixed(1):''}}</van-col>
							</div>
						</van-row>
						<van-divider dashed></van-divider>
					</div>
					<div class="scorefooter">
						<van-col span="8">已修学分：{{score.nowcredit}}</van-col>
						<van-col span="8">当前绩点：{{score.nowgpa}}</van-col>
						<van-col span="8">平均绩点：{{score.gpa}}</van-col>
					</div>
				</van-collapse-item>
			</van-collapse>
			<center>
				<van-loading v-show="loading" size="24px">加载中...</van-loading>
			</center>
		</div>
		<script type="text/javascript" src="js/footer.js"></script>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			token: '',
			footeractive: 2,
			activeNames: [],
			loading: true,
			User: {},
			totalGPA: 0,
			totalCredit: 0,
			totalhaveCredit: 0,
			number: 0,
			score: []
		},
		methods: {
			goBack() {
				history.go(-1);
			},
			getGPA(score) {
				if (score >= 90) {
					return 4.0
				} else if (score >= 85) {
					return 3.7
				} else if (score >= 82) {
					return 3.3
				} else if (score >= 78) {
					return 3.0
				} else if (score >= 75) {
					return 2.7
				} else if (score >= 72) {
					return 2.3
				} else if (score >= 68) {
					return 2.0
				} else if (score >= 66) {
					return 1.7
				} else if (score >= 64) {
					return 1.5
				} else if (score >= 60) {
					return 1.0
				} else {
					return 0
				}
			},
			calGPA() {
				for (term of this.score) {
					term.gpa = 0
					term.nowgpa = 0
					term.credit = 0
					term.nowcredit = 0
					haveCredit = 0
					for (item of term.score) {
						term.gpa = term.gpa + item.credit * this.getGPA(item.score)
						term.credit = term.credit + item.credit
						if (item.score) {
							haveCredit = haveCredit + item.credit
							if (item.score >= 60) {
								term.nowcredit = term.nowcredit + item.credit
							}
						}
					}
					this.totalGPA = this.totalGPA + term.gpa
					this.totalhaveCredit = this.totalCredit + haveCredit//有成绩的科目的学分
					this.totalCredit = this.totalCredit + term.nowcredit//成绩≥60的科目的的学分
					term.nowgpa = (term.gpa / term.credit).toFixed(2)
					term.gpa = (term.gpa / haveCredit).toFixed(2)
				}
				this.totalGPA = (this.totalGPA / this.totalhaveCredit).toFixed(2)
			},
			getScore() {
				axios.get(baseurl + '/score/' + this.User.userid,
					{ headers: { 'Content-Type': 'application/json', 'token': this.token } })
					.then(res => {
						(res.data).sort(this.compareUp('term', res.data))
						this.score = res.data
						this.number = res.data.length - 1
						this.activeNames = [this.number]
						this.calGPA()
						this.loading = false;
					})
					.catch(error => {
						console.log(error)
						if (error.response.status) {
							switch (error.response.status) {
								case 500:
									this.$notify('获取失败：服务器内部错误');
									break;
								default:
									this.$notify('获取失败：服务器未知异常');
							}
						} else {
							this.$notify('获取失败：服务器通信异常');
						}
						this.loading = false;
					})
			},
			compareUp(propertyName, data) { // 升序排序
				if ((typeof data[0][propertyName]) != "number") { // 属性值为非数字
					return function (object1, object2) {
						var value1 = object1[propertyName];
						var value2 = object2[propertyName];
						if (value1.indexOf("秋季学期") != -1) {
							value1 = value1.replace('秋季学期', '啊秋季学期');
						}
						if (value2.indexOf("秋季学期") != -1) {
							value2 = value2.replace('秋季学期', '啊秋季学期');
						}
						return value1.localeCompare(value2);
					}
				}
				else {
					return function (object1, object2) { // 属性值为数字
						var value1 = object1[propertyName];
						var value2 = object2[propertyName];
						return value1 - value2;
					}
				}
			}
		},
		mounted() {
			if (localStorage['token']) {
				this.token = localStorage['token']
				this.User = JSON.parse(localStorage.User)
			} else if (sessionStorage['token']) {
				this.token = sessionStorage['token']
				this.User = JSON.parse(sessionStorage.User)
			}
			if (!this.token) {
				window.location.href = 'login.html'
			}
			this.getScore()
		},
	});
</script>
<style>
	.container {
		margin-top: 45px;
		margin-bottom: 55px;
	}

	.title {
		text-align: center;
		margin-top: -10px;
		color: black;
		margin-bottom: -10px;
		font-weight: 600;
	}

	.textnumber {
		text-align: center;
		line-height: 15px;
	}

	.scoretable {
		text-align: left;
		font-weight: 350;
		line-height: 8px;
		color: black;
	}

	.scorefooter {
		margin-top: -15px;
		line-height: 30px;
		text-align: center
	}

	.summary {
		text-align: center;
		line-height: 40px;
		font-size: 16px;
		font-weight: 350;
	}

	.gpabutton {
		float: right;
		margin-top: 2px;
	}
</style>


</html>